<div class="form-forgot text-center">
  <form>
      <img class="mb-4" src="assets/images/logo-hackaference.png" alt="" width="280">

      <p class="text-center">Napiš dolů svůj email a zkusíme to společně opravit :)</p>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="novak@seznam.cz" #passwordResetEmail required>
        <label for="floatingInput">E-mail</label>
      </div>

      <div class="d-grid gap-2">
        <button class="w-100 btn btn-lg btn-primary" type="submit"
          (click)="authService.ForgotPassword(passwordResetEmail.value); $event.preventDefault()">Zresetovat heslo</button>

        <div class="redirectToLogin">
            <span>Ztratil jsi se? <button type="button" class="btn btn-light btn-sm" routerLink="/sign-in">Zpět na přihlášení</button></span>
        </div>
      </div>
  </form>
</div>
